/************************************************/
/* Theme: Default Emacs                        */
/* Description: Original highlight.js style    */
/* Author: (c) Vernon Grant <info@vernon-grant.com> */
/************************************************/


:root {
    /* Colors */
    --color-background:      #ffffff;
    --color-foreground:      #000000;
    --color-cursor:          #000000;
    --color-primary:         #8b0000;
    --color-secondary:       #a36969;
    --color-selection:       #e2eeff;
    --color-black:           #5C5F77;
    --color-black-muted:     #6C6F85;
    --color-red:             #d33340;
    --color-red-fainted:     #9b3f3f;
    --color-green:           #228b22;
    --color-green-fainted:   #61756c;
    --color-yellow:          #d38a33;
    --color-yellow-fainted:  #76502a;
    --color-blue:            #001faf;
    --color-blue-fainted:    #483d8b;
    --color-magenta:         #721045;
    --color-magenta-fainted: #8f4499;
    --color-cyan:            #1f6fbf;
    --color-cyan-fainted:    #3f7a80;
    --color-white:           #ffffff;
    --color-white-fainted:   #ededed;
    --color-border:          #dddddd;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.75;
    font-size: 1.25rem;
    color: var(--color-foreground);
    background-color: var(--color-background);
    padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:bold;
    color: var(--color-primary);
    text-align:left;
}

div {
    text-align:left;
}

blockquote {
    margin: 1.2rem;
    padding: 5px 20px;
    border: 1px solid var(--color-border);
    font-style: italic;
    border-radius: 3px;
}

code {
    border: 1px solid var(--color-border);
    border-radius: 3px;
}

b {
    font-weight: bolder;
}

a {
    text-decoration:none;
    cursor:pointer;
    color: var(--color-primary);
    font-style:italic;
}

a:hover {
    text-decoration:underline;
    cursor:pointer;
    color: var(--color-primary);
}

a:visited {
    text-decoration:none;
    cursor:pointer;
    color: var(--color-secondary);
}

img, a img {
    text-decoration:none;
    border-style:none;
}

.title {
    margin-bottom: 3rem;
    margin-top: 2.5rem;
}

#title {
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.5;
}

#table-of-contents > h2 {
    font-size: 1rem;
}

#text-table-of-contents > ul {}
#text-table-of-contents > ul ul {}

.outline-1{margin-bottom:2.5em;}
.outline-2{margin-bottom:2em;}
.outline-3{margin-bottom:1.5em;margin-left:1em}
.outline-4{margin-bottom:1.5em;margin-left:1.5em}

ul {
    padding-left:0px;
    margin-left:2em;
}

li {
    margin-right:5ex;
}

dt {
    font-weight:bold;
}

dd {
    margin-left:3em;
}

.todo {
    color: var(--color-red);
}

.done {
    color: var(--color-green);
}

.timestamp {
    color: var(--color-white-fainted);
}

.timestamp-kwd {
    color: CadetBlue;
}

.tag {
    font-size:9pt;
    font-weight:normal;
    font-style:italic;
    color: var(--color-red);
}

table {
    border-collapse: collapse;
    border-bottom:1px solid var(--color-foreground);
}

th {
    white-space:nowrap;
}

td, th {
    vertical-align: top;
}

div.backlinks {
    clear:both;
    text-align:right;
}

.backlinks a {
    text-align:right;
    color: var(--color-foreground);
    font-family:sans-serif;
    text-decoration:none;
    cursor:pointer;
}


div.leftColumn {
    width:48%;
    float:left;
}

div.rightColumn {
    width:48%;
    float:right;
}

/* footer */

#postamble {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0.6em;
    padding-bottom: 1em;
    margin-top: 3rem;
    border-top: 5px solid var(--color-foreground);
}

#postamble p,
#postamble p.date,
#postamble p.author {
    text-align:center;
    font-size: 0.8rem;
    color: var(--color-foreground);
}

/***************/
/* Home Button */
/***************/

.btn {

}

/******************/
/* Header Buttons */
/******************/

.header-buttons {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-bottom: 1px solid var(--color-border);
    padding: 5px 0;
}

.header-buttons .btn {
    padding: 5px 20px;
    font-style: normal;
    color: var(--color-primary);
    font-weight: bold;
}

.header-buttons .btn-home {
    position: fixed;
    right: 0;
    top: 0;
}

/****************/
/* Highlight JS */
/****************/

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}

code.hljs {
    padding: 3px 5px;
}

.hljs {
    color: #464646;
    background: #ffffff;
    font-size: 1rem;
}

.hljs::selection,
.hljs ::selection {
    background-color: #b9b9b9;
    color: #464646;
}


/* purposely do not highlight these things */
.hljs-formula,
.hljs-params,
.hljs-property
{}

/* base03 - #ababab -  Comments, Invisibles, Line Highlighting */
.hljs-comment {
    color: #ababab;
}

/* base04 - #525252 -  Dark Foreground (Used for status bars) */
.hljs-tag {
    color: #525252;
}

/* base05 - #464646 -  Default Foreground, Caret, Delimiters, Operators */
.hljs-subst,
.hljs-punctuation,
.hljs-operator {
    color: #464646;
}

.hljs-operator {
    opacity: 0.7;
}

/* base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
.hljs-bullet,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-tag,
.hljs-name,
.hljs-deletion {
    color: var(--color-primary);
}

/* base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url */
.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
    color: #999999;
}

/* base0A - Classes, Markup Bold, Search Text Background */
.hljs-title,
.hljs-class .hljs-title,
.hljs-title.class_
{
    color: #a0a0a0;
}

.hljs-strong {
    font-weight:bold;
    color: #a0a0a0;
}

/* base0B - Strings, Inherited Class, Markup Code, Diff Inserted */
.hljs-code,
.hljs-addition,
.hljs-title.class_.inherited__,
.hljs-string {
    color: #8e8e8e;
}

/* base0C - Support, Regular Expressions, Escape Characters, Markup Quotes */
.hljs-built_in,
.hljs-doctag, /* guessing */
.hljs-quote,
.hljs-keyword.hljs-atrule,
.hljs-regexp {
    color: #868686;
}

/* base0D - Functions, Methods, Attribute IDs, Headings */
.hljs-function .hljs-title,
.hljs-attribute,
.ruby .hljs-property,
.hljs-title.function_,
.hljs-section {
    color: #686868;
}

.hljs-type,
.hljs-template-tag,
.diff .hljs-meta,
.hljs-keyword {
    color: #868686;
}
.hljs-emphasis {
    color: #747474;
    font-style: italic;
}

/* base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
.hljs-meta,
/*
  prevent top level .keyword and .string scopes
  from leaking into meta by accident
*/
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string
{
    color: #5e5e5e;
}

.hljs-meta .hljs-keyword,
/* for v10 compatible themes */
.hljs-meta-keyword {
    font-weight: bold;
}

/*********/
/* Fonts */
/*********/

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}
